*
{
    margin: 0;
    padding:0;
        
}
/* Top Nav Bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
    font-family: fantasy
}

.topnav a:hover {
  opacity: 0.5;
}

.topnav a.active {
  background-color: #4caf82; 
  color: black;
}
nav
{
    width: 100%;
    height: 100px;
}

/* Sub Nav */
subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: fantasy;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  opacity: 0.5;
}

.subnav-content{
  display: none;
  position: absolute;
  left: 0;
  background-color: #333;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  opacity: 0.5;
}

.subnav:hover .subnav-content {
  display: block;
}
/* Sub Nav */
/* Dashboard */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.8));
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #4caf82; 
  padding: 10px 15px;
  border: none;
    color: black;
    font-family: fantasy;
}

.openbtn:hover {
    opacity: 0.8;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* Dashboard */
/* To DO list*/
* {
    box-sizing: border-box;
}


#myInput {
    width: 85%;
    padding: 10px;
    font-size: 15px;
    font-family: fantasy;
    margin:0;
    border: none;
    border-radius: 0;
    
}

.addBtn {
    background-color: #4caf82;
    color: back;
    font-family: fantasy;
    padding: 10px;
    text-align: center;
    cursor: pointer;

}

.addBtn:hover {
    opacity: 0.8;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    background-color: #7aaf4c;
    list-style-type: none;
    cursor: pointer;padding: 10px 6px 10px 30px;
    transition: 0.3s;
    user-select: none;
}

ul li:nth-child(odd){
    opacity: 0.7;
}

ul li:hover {
    opacity: 0.3;
    
}

ul li.checked{
    background: #282828;
    color: white;
    text-decoration: line-through;

}

ul li.checked::before {
    content: '';
    position:absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 15px;
    transform:rotate(45deg);
    height:15px;
    width: 10px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;    
}

.close:hover {
    opacity: 1.5;
}

body
{
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.6));
    height: 100vh;
    background-size: cover;
    background-position: center;       
}


h1
{
    color: #7aaf4c;
    text-transform: uppercase;
    font: serif;
    font-size: 60px;
    text-align: center;
    
}

h2
{
    text-align: center;
    color: #7aaf4c;  
}
tr {
    width: 100%;
    
}
tr:hover {
    opacity: 0.7;
    
}
input[type=text] {
    font-size: 30px;
}
td {
    width 100%;
    height: 50px;
    vertical-align: middle;
     color: #7aaf4c; 
}

.saveBtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #4caf82; 
  padding: 10px 15px;
  border: none;
    color: black;
    font-family: fantasy;
    text-align: center;
}
.saveBtn:hover {
   
    color: white;
}
table {
    margin-left: auto;
    margin-right: auto;
}
#textArea {
      width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: fantasy;
    margin:0;
    border: none;
    border-radius: 0;
    resize: none;
}
input[type=submit] {
    font-size: 12px;
  cursor: pointer;
  color: #4caf82; 
  padding: 10px;
  border: none;
    color: black;
    font-family: fantasy;
    text-align: center;
    
}
