{% extends "logged-in-layout.html" %}
{% block content %}
    <div class="hero-body">
        <div class="columns">
            <div class="column is-12">
                <div class="container content">
                    <h1 class="title">
                    Log Your Assignments
                    </h1>
                    <h2 class="subtitle">
                    Keep track of your assignments by logging and updating them here!
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
