{% extends "layout.html" %}
{% block content %}
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-5">
                    <figure class="image is-4by3">
                        <img src="static/images/logo.jpg" alt="Open Book with Pages Turning">
                    </figure>
                </div>
                <div class="column is-6 is-offset-1">
                    <h1 class="title is-2">
                        Organize Your Semester
                    </h1>
                    <h2 class="subtitle is-4">
                        Plan out your assignments, set tasks, and stay on schedule!
                    </h2>
                    <br>
                    <p class="has-text-centered">
                        <a href="{{ url_for('register') }}" class="button is-medium is-info is-outlined">
                            Sign Up
                        </a>
                        <a href="{{ url_for('login') }}" class="button is-medium is-info is-outlined">
                            Login
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li><a></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}

