{% extends "logged-in-layout.html" %}
{% block content %}
    <div class="hero-body">
        <div class="columns">
            <div class="column is-12">
                <div class="container content">
                    <i class="is-large fa fa-calendar"></i>
                    <h1 class="title">Your Daily To-Do List</h1>
                    <h3 class="subtitle">
                    Post and update your daily tasks for maximum productivity!
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
